<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>693127998834-lo455mn0p2612vcd80vsq0dlftsvrdlh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693127998834-lo455mn0p2612vcd80vsq0dlftsvrdlh</string>
	<key>API_KEY</key>
	<string>AIzaSyB1S2paU4T47QYWe9Eu_escVn4Y5whCrs4</string>
	<key>GCM_SENDER_ID</key>
	<string>693127998834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Predbite.urcal</string>
	<key>PROJECT_ID</key>
	<string>urcal2-8a1be</string>
	<key>STORAGE_BUCKET</key>
	<string>urcal2-8a1be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:693127998834:ios:86de82c0a0541c82</string>
	<key>DATABASE_URL</key>
	<string>https://urcal2-8a1be.firebaseio.com</string>
</dict>
</plist>